<div class="panel column">
  <header>
    <h1 class="panel-heading">Near Me</h1>
  </header>
  <div class="panel-block">
    <form>
      <ol class="content">
        <li class="field">
          <label class="Label">
            <input autofocus required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="email" placeholder="Email" type="email" class="input">
          </label>
        </li>
        <li class="field">
          <label class="Label">
            <input required type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" placeholder="Password" type="password" class="input">
          </label>
        </li>
        <li class="control">
          <button class="button is-info" (click)="login()">Sign In</button>
          <p *ngIf="error" class="help is-danger">{{error}}</p>
        </li>
      </ol>
    </form>
  </div>
</div>
