li {
  list-style-type: none;
}

[type="email"]:invalid,
[type="password"]:invalid {
  background: rgba(255,0,0,0.25);
}

[type="email"]:valid,
[type="password"]:valid {
  background: rgba(0,255,0,0.25);
}
