<section class="content">
  <div class="cointainer">
    <header class="content">
      <h1 class="title  is-loading">Near Me</h1>
    </header>
    <nav class="navbar"
         role="navigation"
         aria-label="main navigation">
      <div class="navbar-brand level">
        <button (click)="logout()"
                class="button is-danger level-left">Log Out</button>
        <button *ngIf="directions"
                (click)="hideDirections()"
                class="button is-warning level-right">Clear Nav</button>
        <button [routerLink]="['/add']"
                class="button is-link">Add</button>
        <button (click)="initLocation()" class="button is-info">Recentre</button>
      </div>
    </nav>
    <div class="box">
      <div *ngIf="!lat && !lng"
           class="loader"></div>
      <agm-map *ngIf="lat && lng"
               [latitude]="lat"
               [zoom]="zoom"
               [longitude]="lng"
               [scrollwheel]="false">
        <agm-marker [latitude]="lat"
                    [longitude]="lng"></agm-marker>
        <agm-marker *ngFor="let item of items | async"
                    [latitude]="item.latitude"
                    [longitude]="item.longitude">
          <agm-info-window>{{item.name}}</agm-info-window>
        </agm-marker>
        <agm-direction *ngIf="directions"
                       [visible]="show"
                       [origin]="directions.origin"
                       [destination]="directions.destination"
                       [travelMode]="travelMode"></agm-direction>
      </agm-map>

    </div>
    <div class="box">
      <div class="control has-icons-right">
        <input type="text"
               class="input block"
               placeholder="Filter"
               [(ngModel)]="tagFilter" />
        <span class="icon is-small is-right">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <ul class="content columns">
        <li class="column"
            *ngFor="let item of items | async | filter: tagFilter">
          <div class="card">
            <header class="card-header">
              <h2 class="card-header-title">{{item.name}}</h2>
            </header>
            <div class="card-content">
              <p>
                {{item.address}}
              </p>
              <p>
                {{item.description}}
              </p>
              <div class="tags">
                <button *ngFor="let tag of item?.tags; trackBy: trackByFn "
                        class="tag is-info">
                  {{tag}}
                </button>
              </div>
              <button (click)="setDirections(item.longitude,item.latitude)"
                      class="button is-link">Go</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
